%h1 Listing self_drive_prices

%table
  %tr
    %th Weekday
    %th Weekend
    %th Car model
    %th Location
    %th Prepayment
    %th Overtime
    %th Overdistance
    %th
    %th
    %th

  - @self_drive_prices.each do |self_drive_price|
    %tr
      %td= self_drive_price.weekday
      %td= self_drive_price.weekend
      %td= self_drive_price.car_model
      %td= self_drive_price.location
      %td= self_drive_price.prepayment
      %td= self_drive_price.overtime
      %td= self_drive_price.overdistance
      %td= link_to 'Show', self_drive_price
      %td= link_to 'Edit', edit_self_drive_price_path(self_drive_price)
      %td= link_to 'Destroy', self_drive_price, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Self drive price', new_self_drive_price_path
