<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= content_for?(:title) ? yield(:title) : "车联天下管理平台" %></title>
<%= csrf_meta_tags %>

<%= stylesheet_link_tag "application", :media => "all" %>
<%= javascript_include_tag "application" %>

</head>
<body>
<div class="view_all">
  <div class="head">
    <%-if current_user.role=='oprator'%> 
      <div class="logo">
      <%= image_tag 'logo_jm.png' %>
    </div>
    <%= render '/layouts/menubar' %>
    <div class="user_infor">
      <span class="uesr_name"><%=current_user.login_name%>,欢迎您！<%=link_to '注销',signout_path%> </span>
      <span>车联天下管理平台</span>
    </div>
  <%-elsif current_user.role=='call_center'%> 
      <div class="logo">
      <%= image_tag 'logo_home.png' %>
    </div>
    <%= render '/layouts/menubar' %> 
    <div class="user_infor">
      <span class="uesr_name"><%=current_user.login_name%>,欢迎您！<%=link_to '注销',root_path%> </span>
      <span>车联天下管理平台</span>
    </div> 
  <%-else%>
      <div class="logo">
      <%= image_tag 'logo_home.png' %>
    </div>
    <%= render '/layouts/menubar' %> 
    <div class="user_infor">
      <span class="uesr_name"><a href ="<%=manager_users_path%>" target="_blank"><%=current_user.login_name%>,欢迎您！</a><%=link_to '注销',signout_path%> </span>
      <span>车联天下管理平台</span>
    </div>
  <%-end%>


  <div class="clr"></div>
  </div><!-- head_home -->

  <div class="alert-messages">
    <%= render '/layouts/messages' %>
  </div>


  <div >
    <%= yield %>
    <%=render :partial => 'shared/modal'%>
  </div><!-- .home_content -->

  <%= render '/layouts/confirm_modal'%>
</div><!-- .view_all -->

<div id="msg_win" >
  <div class="icos">
    <a id="msg_min" title="" href="javascript:void 0">_</a>
    <a id="msg_close" title="x" href="javascript:void 0">x</a></div>
  <div id="msg_title">订单提醒</div>
  <div id="msg_content">
    <ul>
    </ul>
  </div>
  <div id="msg_bottom"></div>
</div>

<div class="foot">
  <p>版权所有(C)2009-2013 车联天下管理平台</p>
</div>
</body>
</html>
